/* Body and background setup */

html, body {
  height: 100%;
  width: 100%;
  background-color: #222222;
}
html {
  margin: 0 !important;
}

a{
  text-decoration: none !important;
}

.white-box {
  background-color: #ddd;
  color: black;
  -webkit-box-shadow:inset 0 5px 0 0 #fff;
  box-shadow:inset 0 5px 0 0 #fff;
  padding-top: 40px;
  margin-top: 5%;
}

#feature-logo {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 10px;
  width: 100%;
  height: 100%;
}

tr {
  border: 1px solid #d4d4d4;
}

.colum {
  padding-right: 10px;
}

.rules {
  background-color: #fff;
  padding-left: 2%;
  padding-bottom: 2%;
}

.footer {
  background-color: #aaa;
  padding-left: 2%;
}